
@{
    ViewBag.Title = "AddressList";
    Layout = "~/Areas/Admin/Views/Shared/AdimnLayout.cshtml";
}
@model List<DTO.AddressDTO>
<section class="content-header">
    <h1>Lista de Endereços</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Endereço</a></li>
        <li class="breadcrumb-item active"><a>Lista de Endereços</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    @*<button type="submit" class="btn btn-primary" href="/Admin/Address/AddAddress">Adicionar Endereço</button>*@
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Address/AddAddress'">Adicionar Endereço</button>
</div>
<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Atualizar</th>
                    <th>Apagar</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr id="a_@item.ID">
                        <td>@item.AddressContent</td>
                        <td>@item.Phone</td>
                        <td align="center" valign="middle">
                            <a href="/Admin/Address/UpdateAddress/@item.ID">
                                <br />
                                <img src="~/Areas/Admin/Content/Icon/update.png" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img src="~/Areas/Admin/Content/Icon/delete.png" onclick="AskQuestion('/Admin/Address/DeleteAddress/', @item.ID)" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
            <tfoot>
                <tr>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Atualizar</th>
                    <th>Apagar</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->
