@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/AdimnLayout.cshtml";
}

@model List<DTO.CategoryDTO>
<section class="content-header">
    <h1>Lista de Categorias</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Categorias</a></li>
        <li class="breadcrumb-item active"><a>Lista de Categorias</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Category/CategoryList'">Lista de categorias</button>
</div>
<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Nome da categoria</th>
                <th>Atualizar</th>
                <th>Apagar</th>
            </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                <tr id="a_@item.ID">
                    <td>@item.CategoryName</td>


                    <td align="center" valign="middle">

                        <a href="/Admin/Category/UpdateCategory/@item.ID">
                            <br />
                            <img src="~/Areas/Admin/Content/Icon/update.png" />
                        </a>

                    </td>
                    <td align="center" valign="middle">
                        <a href="#">
                            <br />
                            <img src="~/Areas/Admin/Content/Icon/delete.png" onclick="AskQuestion('/Admin/Category/DeleteCategory/', @item.ID)" />
                        </a>
                    </td>
                </tr>
                </tbody>
            }
            <tfoot>
            <tr>
                <th>Nome da categoria</th>
                <th>Atualizar</th>
                <th>Apagar</th>
            </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->