
@{
    ViewBag.Title = "UpdateRevendedor";
    Layout = "~/Areas/Admin/Views/Shared/AdimnLayout.cshtml";
}

<section class="content-header">
    <h1>Revendedor de Peças</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Revendedor</a></li>
        <li class="breadcrumb-item active"><a>Atualizar Revendedor</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    @*<button type="submit" class="btn btn-primary" href="/Admin/Revendedor/RevendedorList">Lista de Revendedores</button>*@
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Revendedor/RevendedorList'">Lista de Revendedores</button>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdateRevendedor", "Revendedor", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/RevendedorForm")
                }

            </div>
        </div>
    </div>
</section>


